@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
white: rgba(255, 255, 255, 0.3)
gray: #393E46
blue: rgba(0, 173, 181, 0.5)
black: #222831
*/

body {
  background-color: white;
  text-align: center;
  font-size: 1.25rem;
}

.section-title {
  font-size: 2.2rem/* 24px */;
  margin: 2.5rem;
  padding-top: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal {
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal-website {
  width: 75vw;
  height: 75vh;
}

.modal-close {
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  text-align: right;
  width: 75vw;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-description {
  display: inline-flex;
  justify-content: center;
  width: 60vw;
  margin-top: 0.5rem;
  color: #FEF5ED;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
