@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Vollkorn&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
white: rgba(255, 255, 255, 0.3)
gray: #393E46
blue: rgba(0, 173, 181, 0.5)
black: #222831
*/

body {
  background-color: white;
  text-align: center;
  font-family: Vollkorn;
  font-size: 1.25rem;
}

.section-title {
  font-size: 2rem/* 24px */;
  margin: 2.5rem;
  font-family: Playfair Display;
}
